
[submodule "modules/waf"]
	path = modules/waf
	url = git@github.com:ArduPilot/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = git@github.com:google/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git@github.com:ArduPilot/mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = git@github.com:ArduPilot/googletest.git
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = git@github.com:ArduPilot/ChibiOS.git
[submodule "modules/gsoap"]
	path = modules/gsoap
	url = git@github.com:ArduPilot/gsoap.git
[submodule "modules/DroneCAN/DSDL"]
	path = modules/DroneCAN/DSDL
	url = git@github.com:DroneCAN/DSDL.git
[submodule "modules/CrashDebug"]
	path = modules/CrashDebug
	url = git@github.com:ardupilot/CrashDebug.git
[submodule "modules/DroneCAN/pydronecan"]
	path = modules/DroneCAN/pydronecan
	url = git@github.com:DroneCAN/pydronecan.git
[submodule "modules/DroneCAN/dronecan_dsdlc"]
	path = modules/DroneCAN/dronecan_dsdlc
	url = git@github.com:DroneCAN/dronecan_dsdlc.git
[submodule "modules/DroneCAN/libcanard"]
	path = modules/DroneCAN/libcanard
	url = git@github.com:DroneCAN/libcanard.git
[submodule "modules/Micro-XRCE-DDS-Client"]
	path = modules/Micro-XRCE-DDS-Client
	url = git@github.com:ardupilot/Micro-XRCE-DDS-Client.git
	branch = master
[submodule "modules/Micro-CDR"]
	path = modules/Micro-CDR
	url = git@github.com:ardupilot/Micro-CDR.git
	branch = master
